MONGODB_URI=mongodb+srv://USUARIO:SENHA@SEU-CLUSTER.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DATABASE=thindesk
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@thindesk.local
ADMIN_PASSWORD=TroqueEstaSenha123!
SESSION_TIMEOUT=30m
COOKIE_SECURE=false
APP_NOME=Thindesk
APP_TEMA=padrao
